<form action="/recipes" method="post">
<label for="">Recipe name</label>
<input type="text" name="name" value="">
<br>
<label for="">Recipe ingredients</label>
<input type="text" name="ingredients" value="">
<br>
<label for="">Recipe cook time</label>
<input type="text" name="cook_time" value="">
<br>
<input type="submit" name="submit" value="create new recipes">

</form>