<h1>Recipe: <%= @recipe.name %></h1>
<p>Recipe ingredients: <%= @recipe.ingredients %><br>
  Recipe cook time: <%= @recipe.cook_time %> minutes
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
